/*https://coolors.co/466365-b49a67-ceb3ab-c4c6e7-baa5ff*/
body{
    margin-top: 0; margin-left: 0%; margin-right: 0;margin-bottom: 0;
    font-family: Papyrus, fantasy;
}
header{
}
main{
    background-color: white;
    padding-bottom: 200px;
    color:whitesmoke;
    margin-top:0px;
    padding-top: 60px;
    text-align: center;
    padding-top: 100px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.tr{
    background-image: linear-gradient(rgba(92, 85, 202, 0.3), rgba(58, 58, 108, 0.7)), url("mndallalto.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 260px;
}
h1{
    color:black;
    font-family: Papyrus, fantasy;;
}
.testo{
    font-family: Papyrus, fantasy;
    border-style: solid;
    margin-top: 200px;
    background-color: white;
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
    line-height: 1.5;
    font-weight: bold;
    word-spacing: 8px;
    height:90px;
}
p{
    color: black;
}
nav{
    margin-top: 0;
    position: fixed;
    
}
nav ul li{
    text-decoration: none;
}
nav li{
    list-style-type: none;
    text-decoration: none;
    display: inline;
    margin-left: 8px;
} 
th ul li a{
    text-decoration: none;
}
.ra{
    background-color: black;
    text-align:right;
    position: fixed;
    width: 96%;
    height: 40px;
    color: white;
    margin-top: 0;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    padding-right: 20%;
    padding-top: 6px;
    
}
.n{
    background-color: #B49A67;
    position: fixed;
    width: 100%;
    height: 70px;
    margin-top: 40px;
    margin-left: 0%;
    line-height:70px;
    color:white;
    font-family: Papyrus, fantasy;
    word-spacing: 28px;
    font-size: 18px;
    font-weight: bold;
}
.case{
    word-spacing: 2px;
}
.tit{
    font-size: 30px;
    margin-top: 50px;
    font-family: Papyrus, fantasy;;
}
.button{
    font-weight: bold;
    border-style: solid;
    color:white;
    padding: 10px;
    background-color: #B49A67;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 90px;
    line-height: 80px;
    border-width: 1px;
    border-radius: 10px;
    color: #685206; 
    font-size: 20px;
    margin: 0 0 24px;
    text-align: center;
    text-justify: inter-word;
    font-family: Papyrus, fantasy;
}
.beauty{
    background-image: linear-gradient(rgba(92, 85, 202, 0.3), rgba(58, 58, 108, 0.7)), url("mantova_tramontoc.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 190px;
    padding-top: none;
    margin-top:none;
    height:1px;
}
.bea{
    position: static;
    text-align: center;
    padding-top:4%;
    font-size: 22px;
}
.sanl{
    float:left;
    height:250px;
    width: 310px;
    margin-left:15px;
    margin-right:90px;
}
#gr{
    color:rgb(97, 18, 18);
    font-weight: bold;
    font-size: 18px;
}
.sl{
    color:black;
    margin-top:50px;
    text-align:left;

}
#chi{
    margin-left: 60px;
}
.button a{
    text-decoration: none;
}
.button a:hover{
    color:yellow;
}
nav ul li a {
    text-decoration: none;
    
}
.n a:hover{
    color:yellow;
}
.logo{
    float: left;
    height:70px;
    width: 70px;
    
}
.insta{
    height:30px;
    width:30px;
}
.base{
    padding-top: 30px;
    font-family: Papyrus, fantasy;
}
/*.base{
    display: flex;
    flex-direction: column;
}
.sfondo{
    position:relative;
    z-index: -1;
    margin-left: 0;
    
}*/
.text{
   
}
.testo{
     color:white;
}
footer{
    background-color: #C4C6E7;
    margin-top: 0;
    padding-bottom: 1%;
    padding-top: 2%;
    height:400px;
    font-weight: bold;
}
footer *{
	margin: 0;
	padding:0;
	box-sizing: border-box;
    font-weight: bold;
}
.container{
	max-width: 96%;
	margin: auto;
    font-weight: bold;
}
.row{
	display: flex;
	flex-wrap: wrap;
    font-weight: bold;
}
footer ul{
	list-style: none;
}
.footer{
  background-color: #C4C6E7;
  padding: 70px 0;
  width: 100%;
  margin-top: 40px;
  font-weight: bold;
}
.container ul li{
    font-weight: bold;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   font-weight: bold;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(245,245,220);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: none;
	color: black;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: yellow;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #FDC93B;
}
footer h4{
  text-transform: uppercase;
}
/*chi siamo immagine*/
#about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("https://scaling.spaggiari.eu/MNIT0001/carosello/5157.png&rs=%2FtccTw2MgxYfdxRYmYOB6Dr5NBr1fpaT6WNTxe%2FsWXs2htM1BhF%2Fr5nAtRVDWvfToaaRx%2B2JxzErLvPHd3k%2BHVZCH%2FH94jO3WzJ4t9912adlubEDyeKjuNoEf0Q46R4XldLfEeqODaQbhJif24xVbw%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    padding-top: 100px;
}
#about-home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("https://tse4.mm.bing.net/th?id=OIP.J0fjsCkYDBzXr1EEgh9-JwAAAA&pid=Api&P=0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    padding-top: 100px;
}
#about-home h2 {
    color: black;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#about-container {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}
#about-container .about-img {
    width: 60%;
    padding-right: 60px;
}
#about-container .about-img img {
    width: 100%;
}
#about-container .about-text {
    width: 40%;
}
#about-container .about-text h2 {
    color: #29303B;
    padding-bottom: 15px;
}
#about-container .about-text p {
    color: #686F7A;
    font-weight: 300;
}
#about-container .about-text .about-fe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}
#about-container .about-text .about-fe img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}
#about-container .about-text .about-fe .fe-text {
    width: 90%;
}
#about-container .about-text .about-fe .fe-text h5 {
    font-size: 16px;
    color: #29303B;
}
/*discipline o i vari indirizzi*/
#vari-indirizzi {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}
#vari-indirizzi .indirizzi {
    width: 60%;
}
#vari-indirizzi .indirizzi .post {
    padding-bottom: 60px;
}
#vari-indirizzi .indirizzi .post img {
    width: 100%;
    border-radius: 19px;
}
#vari-indirizzi .indirizzi .post h3 {
    padding: 15px 0 10px 0;
    color: #29303B;
}
#vari-indirizzi .indirizzi .post p {
    color: #757373;
    padding-bottom: 20px;
    text-align: justify;
}
#vari-indirizzi .indirizzi .post a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background: #fff;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s ease;
}
#vari-indirizzi .indirizzi .post a.blue {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    background: rgb(21, 21, 100);
}
#vari-indirizzi .categorie {
    width: 30%;
}
#vari-indirizzi .categorie h2 {
    padding-bottom: 7px;
}
#vari-indirizzi .categorie a {
    text-decoration: categorie;
    color: #757373;
}
#vari-indirizzi .categorie p {
    padding: 10px 0;
    font-weight: 500;
}
/* materie e orario settimanale e agenda*/
.materie {
    padding: 5px;
    margin: 20px;
    border: 2px;
    text-align: center;
    background: #bbbbbb;
    align-items: center;
    border-collapse: collapse;
    width: 97%;
} 
.materie th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
ol{
    text-transform: capitalize;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    color: #FDC93B;
    margin-top: 30px;
}
/*orario settimanale e l'agenda*/
.orario{
    text-transform: capitalize;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    color: #FDC93B;
}
.orario2{
    margin-top: 6%;
}